@if (Request.IsAuthenticated)
{
    if (@Model.Seller.Username == User.Identity.GetUserName())
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Control Your Ad</h3>
            </div>
            <div class="panel-body">
                <div class="form-actions no-color">
                    <div>
                        @using (Html.BeginForm("Edit", "LaptopAds", new { Id = @Model.ID }, FormMethod.Get))
                        {
                        @Html.AntiForgeryToken()
                        <input type="submit" name="action" value="Edit" class="col-md-12 btn btn-warning" />
                        }
                    </div>

                    <div>
                        @using (Html.BeginForm("Delete", "LaptopAds", new { Id = @Model.ID }, FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" name="action" value="Delete" class="col-md-12 btn btn-danger" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Review</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddReview", "LaptopAds", new { Id = @Model.ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div>
                    <input class="col-md-10 form-control text-box single-line" name="ReviewContent" data-val="true" data-val-required="Must Add Review." id="Title" type="text" value="Add Your Review." />
                    <input type="submit" value="Post Review" class="col-md-2 btn btn-warning" />
                </div>
            }
        </div>
    </div>
}