<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            @Html.ActionLink("BuySell - Admin", "Index", "Home", new { area = "Dashboard" }, new { @class = "navbar-brand" })
        </li>
        <li>
            @Html.ActionLink("Web Home", "Index", "Home", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Laptop Ads", "Index", "Laptops")
        </li>
        <li>
            @Html.ActionLink("Cell Phone Ads", "Index", "CellPhones")
        </li>
        <li>
            @Html.ActionLink("Bike Ads", "Index", "Bikes")
        </li>
        <li>
            @Html.ActionLink("Sellers", "Index", "Sellers")
        </li>
        <li>
            @Html.ActionLink("Reviews", "Index", "Reviews")
        </li>
        <li>
            @Html.ActionLink("Roles", "Index", "Roles")
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->