@model BuySell.WebUI.Models.LaptopAdViewModel

@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<hr />

<div class="row">
    @Html.Partial("_CategoriesPartial")

    <div class="col-md-9">

        <div class="thumbnail">
            <img class="img-responsive" src="~/images/@Model.Images.First().Path" alt="" />
            <div class="caption-full">
                <h4 class="pull-right">@Html.DisplayFor(model => model.Currency.ISOCode) @Html.DisplayFor(model => model.Price)</h4>
                <h4>
                    @Html.DisplayFor(model => model.Title)
                </h4>
                <p>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.Label("Laptop Brand")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccessoryBrand.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OperatingSystem)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OperatingSystem)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ram)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ram)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Processor)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Processor)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HardDisk)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HardDisk)
                        </dd>

                        <dt>
                            @Html.Label("Condition")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Condition.ConditionType)
                        </dd>
                        <dt>
                            @Html.Label("Seller")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Seller.Name)
                        </dd>
                        <dt>
                            @Html.Label("Location")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.City.Name), @Html.DisplayFor(model => model.State.Name), @Html.DisplayFor(model => model.Country.Name)
                        </dd>

                        <dt>
                            @Html.Label("Contact")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Seller.MobileNumber)
                        </dd>
                        <dt>
                            @Html.Label("Posted On")
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PostingTime)
                        </dd>
                    </dl>
                </p>

                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>
        </div>

        <div class="well">

            <div class="text-right">
                <a class="btn btn-success">Leave a Review</a>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">10 days ago</span>
                    <p>This product was great in terms of quality. I would definitely buy another!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">12 days ago</span>
                    <p>I've alredy ordered another one!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Anonymous
                    <span class="pull-right">15 days ago</span>
                    <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                </div>
            </div>

        </div>

    </div>

</div>