@model IEnumerable<BuySell.WebUI.Models.LaptopAdViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.Label("Accessory Brand Name")
        </th>
        <th>
            @Html.Label("City Name")
        </th>
        <th>
            @Html.Label("Condition ConditionType")
        </th>
        <th>
            @Html.Label("Country Name")
        </th>
        <th>
            @Html.Label("Currency Name")
        </th>
        <th>
            @Html.Label("State Name")
        </th>
        <th>
            @Html.Label("OperatingSystem")
        </th>
        <th>
            @Html.Label("Ram")
        </th>
        <th>
            @Html.Label("Processor")
        </th>
        <th>
            @Html.Label("HardDisk")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryBrand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition.ConditionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingSystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Processor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HardDisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
