@model BuySell.Models.VehicleBrand

@{
    ViewBag.Title = "Details";
}


<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>@Model.Name</h4>
    </div>


    <table class="table table-striped table-bordered">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>
                Logo
            </td>
            <td>
                //Will work on it later
            </td>
        </tr>
        <tr>
            <td>
                Control
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
                 | 
                @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
