
@{
    ViewBag.Title = "Delete Role";
}

<h2>Delete Role</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-body">

        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.Label("Role Name")
                </th>
                <th>
                    @Html.Label("Delete Role")
                </th>
            </tr>
            <tr>
                @using (Html.BeginForm("DeleteRole", "Roles", null, FormMethod.Post))
            {
                    <td>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                        @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.AllRoles, "Select ...", htmlAttributes: new { @class = "form-control" })
                    </td>
                    <td>
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </td>
                }
            </tr>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
