@model BuySell.WebUI.Areas.Dashboard.Models.UserRolesViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Roles of @Model.User.Name</h2>

<h3>Current Role(s) held by the User</h3>

<table class="table">
    <tr>
        <th>
            @Html.Label("User Name")
        </th>
        <th>
            @Html.Label("Roles")
        </th>
    </tr>
    <tr>
       <td>
            @Model.User.Name
      </td>
      <td>
          @foreach (var Role in Model.RoleNames)
          {
              <span>@Role, </span>
          }
      </td>
    </tr>
</table>

<h3>Add a New Role to the User</h3>

<table class="table">
    <tr>
        <th>
            @Html.Label("User Name")
        </th>
        <th>
            @Html.Label("Roles")
        </th>
    </tr>
    <tr>
        <td>
            @Model.User.Name
        </td>
        <td>
            @foreach (var Role in Model.RoleNames)
            {
                <span>@Role, </span>
            }
        </td>
    </tr>
</table>

@using (Html.BeginForm("AddRoleToUser", "Roles", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.Label("Role", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.RoleName, new SelectList(Model.AllRoles), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
   </div>
        <input type="submit" value="Save" />
}
