@model IEnumerable<BuySell.WebUI.Areas.Dashboard.Models.UserRolesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users &amp; Their Roles</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("User Name")
        </th>
        <th>
            @Html.Label("Roles")
        </th>
        <th>
            @Html.Label("Control")
        </th>
    </tr>

    @foreach (var UserRoleModel in Model)
    {
        <tr>
            <td>
                @UserRoleModel.User.Name
            </td>
            <td>
                @foreach (var Role in UserRoleModel.RoleNames)
                {
                    <span>@Role, </span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit Roles", "Edit", new { id = UserRoleModel.User.Id })
            </td>
        </tr>
    }

</table>
