@model IEnumerable<BuySell.WebUI.Areas.Dashboard.Models.UserRolesViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Users &amp; Their Roles</h4></div>

    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.Label("User Name")
            </th>
            <th>
                @Html.Label("Roles")
            </th>
            <th>
                @Html.Label("Control")
            </th>
        </tr>

        @foreach (var UserRoleModel in Model)
    {
            <tr>
                <td>
                    @UserRoleModel.User.Name
                </td>
                <td>
                    @foreach (var Role in UserRoleModel.RoleNames)
                {
                        <span>@Role, </span>
                }
                </td>
                <td>
                    @Html.ActionLink("Edit Roles", "Edit", new { id = UserRoleModel.User.Id })
                </td>
            </tr>
    }

    </table>
</div>
